<%# This is the view page of creating a new page  %>
<%# It creates a form and pass the information to the create method  %>
<h1>Creating a New Article</h1>

<%= render  'form' %>

<%= link_to 'Back', articles_path %>
