<html>
  <head>
    <title>MyBlog</title>
  </head>
  <h1>Hello, Rails!</h1>
  <%= link_to 'My blog', controller: 'articles' %>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
        </div>
      </div>
    </div>
  </body>

</html>





